{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/stlye.css">
<head>
        <meta charset="UTF-8">
        <title>Compare Pets</title>
    </head>
<nav>
                <hr>
                <a href="/templates/index.html">Home</a>
                <a href="/templates/about_pets.html">About</a>
                <a href="/templates/comparison.html">Comparison</a>
                <a href="/templates/add_reviews.html">Reviews</a>
                <hr>
            </nav>
    <body>
    <h2>Compare Pets</h2>
    <form action="{{ url_for('compare_pets', id=pets.id) }}" method="POST">
        <div class="comparison-select">
            <select name="pet1" required>
                <option value="">Select first pet</option>
                {% for pet in pets %}
                <option value="{{ pet.id }}">{{ pet.name }}</option>
                {% endfor %}
            </select>
            
            <span class="vs">VS</span>
            
            <select name="pet2" required>
                <option value="">Select second pet</option>
                {% for pet in pets %}
                <option value="{{ pet.id }}">{{ pet.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Compare</button>
    </form>
    </body>
    <footer>
            <h2 style="background-color: pink;text-align: center;">&copy; 2025 UttaraCORP</h2>
        </footer>
{% endblock %}