{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/style.css">
<head>
        <meta charset="UTF-8">
        <title>Compare Pets</title>
    </head>
    <body>
    <h2>Compare Pets</h2>
    <form action="{{ url_for('compare') }}" method="get">
        <div class="comparison-select">
            <select name="pet1" required>
                <option value="">Select first pet</option>
                {% for pet in pets %}
                <option value="{{ pet.name }}">{{ pet.name }}</option>
                {% endfor %}
            </select>
            
            <span class="vs">VS</span>
            
            <select name="pet2" required>
                <option value="">Select second pet</option>
                {% for pet in pets %}
                <option value="{{ pet.name }}">{{ pet.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Compare</button>
    </form>
    </body>
{% endblock %}