<!DOCTYPE html>
<html>
    <head>
        <title>Pet Comparison</title>
        <link rel="stylesheet" href="/static/stlye.css">
    </head>
    <body>
        <header>
            <h1>Pet Collection</h1>
            <nav>
                <hr>
                <a href="/templates/index.html">Home</a>
                <a href="/templates/about_pets.html">About</a>
                <a href="/templates/comparison.html">Comparison</a>
                <a href="/templates/add_reviews.html">Reviews</a>
                <hr>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <script src="/static/script.js"></script>
    </body>
    <footer>
            <h2 style="background-color: pink;text-align: center;">&copy; 2025 UttaraCORP</h2>
        </footer>
</html>