<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
    <head>
        <title>Your Perfect Pet Awaits!</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header class="site-header">
            <div class="container">
            <h1 class="brand"><a href="/">𝕐𝕠𝕦𝕣 ℙ𝕖𝕣𝕗𝕖𝕔𝕥 ℙ𝕖𝕥 𝔸𝕨𝕒𝕚𝕥𝕤!</a></h1>
            </div>
            <nav class="main-nav">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/browse">Browse Pets</a> 
                <a href="/compare">Comparison</a>
                <a href="/add_review">Reviews</a>
            </nav>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
     <footer class="site-footer">
    <div class="container">
            <h2> &copy; 2025 Perfect Pet CORP</h2>
        </div>
  </footer>
</body>
</html>